body {
    margin: 0;
    text-align: center;
    font-size: 16px;
    font-family: 'Staatliches', cursive;
}

img {
    width: 70%;
    margin-top: 3.75em;
    border-radius: 5em;
}

.hero {
    background-image: url("./images/torshov.jpg");
    background-size: cover;
    padding: 3em 4em;
    height: 250px;
}

h1 {
    color: white;
    background-color: #1D3557;
    padding: .1em .1em;
    width: 6em;
    border-radius: 10px;
    margin: 1em auto;
}

h2 {
    color: white;
    background-color: #457B9D;
    width: 17em;
    border-radius: 10px;
    margin: 0 auto;
}

.activities {
    display: flex;
    justify-content: space-around;
    background-color: #F1FAEE;
    height: 350px;
}

.activity-cards {
    width: 11em;
}

.guide {
    margin: 0;
    padding: 3em 5em;
}

.your-guide {
    padding: 3em 1em;
    background: #A8DADC;
    display: flex;
    align-items: center;
    box-shadow: 0px 6px 0px #1D3557;
    border-radius: 10px;
    height: 200px;
}

.profile-pic {
    background-color: lightcyan;
    border-radius: .75em;
    width: 50%;
}

.guide-card {
    background-color: pink;
    width: 50em;
    text-align: center;
    color: #2b2839;
    width: 50%;
}